

.logo_image > img {
    max-width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about_cta, .Contact_cta, .favorites_cta {
    color: black;
    font-size: 1.2em;
    padding: 8px 30px;
    position:relative;
    top: 40px;
}

.h1-header, .h2-header, .h3-header, .h4-header, .h5-header {
    font-size: 2,7em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 200px;
    color: #666666;
    margin-bottom: 0px;
}

.p-index, .p-contact {
    width: 100%;
    margin-bottom: 100px;
    margin-top: 50px;
    max-width: 1028px;
    height: auto;
    border-radius: 25px;
    text-align: center;
    left: 198px;
}

#question-box, #send {
    font-size: 1.2px;
    border: none;
    border-radius: 100px;
}

#send:hover {
    background-color: #666666;
}

.item-active > img, .item > img{
    width: 300px;  
    height: auto;  
    text-align: center;  
    padding: 15px; 
}

#myCarousel {
    width: 300px;
    left: 198px;
}